
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.principal {
    padding: 0 0 15px;
}

header {
    background-color: rgb(9, 82, 116);
    padding: 12px;
}

header img {
    display: block;
}

h2.principal__texto1, .principal__texto2 {
    text-align: center;
    padding: 10px 6px 0 ;
    
  
}

p{
   text-align: justify;
    margin: 2px 20px;
    
}


.principal img{
    width:100%;
    margin: auto;
    display: block;
    padding: 10px;
    
    
}

h3.evolucao__texto3 {
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

iframe.evolucao__video {
    margin: auto;
    display: block;
    width: 95%;
    margin-top: 10px;
    
}

ul {
    margin: 0 20px;
    columns: 2;
    list-style: none;
    padding: 10px 0;
    
}

.extra {
    background-color: rgba(14, 134, 46, 0.555);
    width: 95%;
    margin: auto;
    padding-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
}

h4.extra__4 {
    background-color: green;
    padding: 5px;
    color: white;
    margin-top: 10px;
    border-radius: 10px 10px 0 0;
   
    
}

.rodape p {
    text-align: center;
    
}



@media screen and (min-width:800px) {
    .principal {
        max-width:800px;
        margin: auto;
        background-color: white;
    
    }

    footer {
        width: 800px;
        background-color: rgba(223, 230, 230, 0.322);
        display: block;
        margin: auto;
        color: white;
      
    }

    p{
        padding: 1px;
    }

    body {
        background-color: rgb(23, 66, 116);
    }

}


