
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: rgba(0, 0, 0, 0.616);
    background-image: url(./imagens/arvore2.jpg);
}
.cabecalo {
    background-color:#273B54;
    padding: 12px;
    display: inline-block; 
    margin: 5px;
   
}

.cabecalo img{
    display: block;
}

.principal {
  padding: 15px;
  max-width: 840px;
  margin: auto;
  background-color: white;

}

.principal p {
    text-align: justify;
}

.principal img {
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inicio h2{
    text-align: center;
    padding: 10px 0;
}

.mascote h3 {
    text-align: center;
    padding: 18px;
    font-size: 24px;
}

.mascote iframe {
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 15px;
}

.extra {
    background-color: #273B54;
    padding: 15px;
    margin-top: 15px;
    color: white;
}

.extra h4 {
    border-bottom: 4px solid;
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
}

.extra a {
    text-decoration: none; color: white;
}
.extra ul {
    columns: 2;
    border: 1px solid;   
    margin: 10px 0 10px;
}
.extra li {
    list-style: none;
   margin: 10px 0;
   color: white;
   text-align: center;
    
}

.creditos p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #273B54;
    color: white;
   
}

@media screen and (min-width:700px) {
    .cabecalo {
        padding: 20px;
        display: block; 
        width: 100%;
        margin: 0px;
        
    }

    .cabecalo img{
        display:none;
    }
    
}




